:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #212121;
  --secondary-color: #2196f3;
  --white-color: #fff;
  --black-color: #000;
  --dark-grey-color: #2f303a;
  --light-grey-color: #757575;
  --rgba-color: rgba(255, 255, 255, 0.6);
  --light-blue-color: #188ce8;
  --light-light-grey-color: #f5f4fa;
}

body {
  font-family: var(--main-font);
  color: var(--accent-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

/*==========HEADER==========*/
.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-light {
  color: var(--black-color);
}

.logo-span {
  color: var(--secondary-color);
}

.link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-grey-color);
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--secondary-color);
}
/*==========HEADER==========*/

/* =========HERO========== */
.hero {
  width: 600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: var(--dark-grey-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--secondary-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--light-blue-color);
  color: var(--white-color);
}

/* =========END HERO========== */

/* =========SKILLS========== */
.skills-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills-list-paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}
/* =========END SKILLS========== */

/* =========WORK========== */
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/* =========END WORK========== */

/* =========END TEAM========== */
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}
/* =========END TEAM========== */

/* =========FOOTER========== */
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: var(--dark-grey-color);
}

.logo-dark {
  color: var(--white-color);
}

.footer-adress {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-contacts {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--rgba-color);
}
/* =========END FOOTER========== */

/* =========BUTTON LIST========== */
.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--light-light-grey-color);
  cursor: pointer;
  border-radius: 4px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white-color);
  background-color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* =========END BUTTON LIST========== */

/* =========PORTFOLIO========== */
.portfolio-list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}

.portfolio-list-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}
/* =========END PORTFOLIO========== */
