:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #212121;
}

body {
  font-family: var(--main-font);
  color: var(--accent-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/*==========HEADER==========*/
.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-light {
  color: #000;
}

.logo-span {
  color: #2196f3;
}

.link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.link-contacts:hover,
.link-contacts:focus {
  color: #2196f3;
}
/*==========HEADER==========*/

/* =========HERO========== */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.hero-button {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  color: #ffffff;
}

/* =========END HERO========== */

/* =========SKILLS========== */
.skills-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills-list-paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* =========END SKILLS========== */

/* =========WORK========== */
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* =========END WORK========== */

/* =========END TEAM========== */
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-paragraph {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* =========END TEAM========== */

/* =========FOOTER========== */
.logo-dark {
  /* color: #ffffff; */
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: #FFFFFF; */
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: rgba(255, 255, 255, 0.6); */
}
/* =========END FOOTER========== */

/* =========BUTTON LIST========== */
.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 2.17;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: #fff;
  background-color: #2196f3;
}
/* =========END BUTTON LIST========== */

/* =========PORTFOLIO========== */
.portfolio-list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}

.portfolio-list-paragraph {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/* =========END PORTFOLIO========== */
